extends layout

block extrahead
  link(rel="stylesheet" href="/stylesheets/overview.css")
  link(rel="stylesheet" href="/stylesheets/monitor.css")

  script(src="javascripts/bootstrap-toggle.min.js", type="text/javascript")
  link(rel="stylesheet", href="stylesheets/bootstrap-toggle.css")

  script(src="javascripts/monitor_scripts.js", type='text/javascript')

block content
  div.main-container(style='background-color:#eeeeee;margin:-5px;padding:15px;height:100vh')
    div
      div(style="width: 800px;resize: horizontal; overflow: hidden;")
        object(type="image/svg+xml" id="svg_frame1" data="images/monitor_tpc_layout.svg" style="width:100%;" class="tpcview" )

      div.noprint
          div.row(style="width:100%;margin:0;padding-top:5px;background-color:#f0f0f0;")
            table
                tr
                    td view style:
                    td(colspan = 3)
                        select#layout_switcher(name='view_style', onchange="switch_layout(this.value)")
                            option(value='tpc') TPC
                            option(value='he') High Energy Array
                            option(value='vme') VME-crates
                            option(value='opt') Optical Links
                            option(value='amp') Amplifiers
                            option(value='init') Numerical
                            option(value='3d') 3D
                            option(value='off') OFF
                
                tr
                    td(title="wheter live data should be checked for") live data:
                    td
                        input#monitor_live_toggle(type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="live" data-off="off" data-size='small' checked)
                    td(title="channels wtih a datarate below the lower legend limit will slowly fade to white") fading:
                    td
                        input#monitor_fade_toggle(type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="fading" data-off="off" data-size='small' checked)
               
                tr
                    td datarate scale:
                    td
                        input#legend_auto_set(type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="auto" data-off="fixed" data-size='small' checked)
                    td color scale:
                    td
                        input#legend_color_scale_log(onchange='update_color_scheme()', type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="log" data-off="lin" data-size='small' checked)
                    td pmt numbers:
                    td
                        input#monitior_pmt_text_view_switch(onchange='switch_pmt_channel_text_visibility(this.value)', type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="visible" data-off="hidden" data-size='small' checked)
                        
                tr(title="which pmts shall be ignored when checking for the max rate (comma seperated, no spaces)")
                    td ignore pmt rate:
                    td(colspan = 3)
                        input(id="field_ignore_pmts", size="25", value = "453", onchange='update_pmts_to_ignore_for_rate()')
                
                    

                
          
          
          // controls for live view
          div.row(style="width:100%;margin:0;padding-top:5px;background-color:#f0f0f0;")
            table
                tr
                    td(colspan="3", style="font-weight:bold;text-align:left") channel view

                tr
                    td time displayed
                    td
                        input(id="field_current_timestamp", value="-1", size="25")
                    td
                        button.btn.btn-default(onclick="force_show_timestamp()", onchange="force_show_timestamp()" ) show

                tr
                    td
                        input#monitior_playback(onchange='playback_wrapper()', type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="start playback" data-off="playback" data-size='small' checked)
                    td(colspan="3")
                        button.btn.btn-default(onclick="jump_in_time(-10)") -10 &nbsp;
                        button.btn.btn-default(onclick="jump_in_time(-1)") -1 &nbsp;
                        button.btn.btn-default(onclick='jump_in_time(1)') +1 &nbsp;
                        button.btn.btn-default(onclick='jump_in_time(10)') +10 &nbsp;

          br
          br
          br
          // controls for history
          div.row(style="width:100%;margin:0;padding-top:5px;background-color:#f0f0f0;")
            table
                tr
                    td(colspan="3", style="font-weight:bold;text-align:left") Trend view
                tr
                    td time start
                    td
                        input(id="field_history_start", value="-1", size="25")
                    td
                        button.btn.btn-default(onclick="force_show_timestamp('field_history_start')") show &nbsp;
                        button.btn.btn-default(onclick="usetimestamp('field_history_start')") use displayed time
                    td  &nbsp;
                tr 
                    td time end
                    td
                        input(id="field_history_end", value="-1", size="25")
                    td
                        button.btn.btn-default(onclick="force_show_timestamp('field_history_end')") show &nbsp;
                        button.btn.btn-default(onclick="usetimestamp('field_history_end')") use displayed time
                    td  &nbsp;
                tr
                    //td binning time
                    td 
                    //    input(id="field_history_window", value="10", size="25")
                    td
                        button.btn.btn-default(onclick="trendview_get_data_full()") draw trendlines &nbsp;
                        //button.btn.btn-default(onclick='saveAsPng(svgObject2)') save trends as .png
                    td
                        div#monitor_trend_status(style="width:450px; overflow:hidden")
                tr(title="which pmts shall be plotted below (comma seperated, no spaces)")
                    td pmts for line plot:
                    td
                        input(id="field_line_plot_pmts", size="25")
                    td 
                        input#monitor_trend_follow(onchange='trendview_plot_update_and_follow()', type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="plot and auto update" data-off="stop updating" data-size='small' checked)
                        input#monitor_trend_max_five_minues(onchange='trendview_plot_cut_to_5_min()', type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="show all" data-off="show last 5 minutes" data-size='small' checked)
                    td  &nbsp;
          
          
          div(style="height:720px;width:800px;resize: horizontal; overflow: hidden; border: 1px solid black")
            figure(class="highcharts-figure" style="width:100%; height:100%; overflow: hidden;")
              div#highcharts-figure(style="width:100%; height:100%; overflow: hidden;")
            
          
          

  script.
    $(document).ready(function(){
        initialize_pmts();
    });

